.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    background-color: rgb(201, 196, 196);
    width: 80%;
    height: 80%;
}

.columnas-footer{
    padding: 3rem;
} 

li {
    padding-bottom: 1rem;
}


.linea-title{
    color: rgb(14, 218, 197);
}

.title{
    font-family: Verdana;
    font-weight: bold;
    color: rgb(14, 218, 197);
}

ul {
    list-style:none;
    font-family: Verdana;
}

.container-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-title>div{
  text-align: center;
} 

.icons{
    padding-right: 2px;
    align-items: center;
    width: 20px;
    height: 20px;
}

h3{
    margin-bottom: 1px;
    margin-top: 1px;
}